/* import google font */
@import
url('http://localhost/lab8_php_database/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import
url('http://localhost/lab8_php_database/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    line-height:1;
    font-size:100%;
    font-family:'Open Sans', sans-serif;
    color:#000000;
}
#container {
    width: 980px;
    margin: 0 auto;
    box-shadow: 0 0 1em #cccccc;
}

/* Header */
header {
    padding: 20px;
}
header h1 {
    margin: 20px 10px;
    color: #b5b5b5;
}

/* Navigasi */
nav {
    display: block;
    background-color: #1f5faa;
}
nav a {
    padding: 15px 30px;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}
nav a.active,
nav a:hover {
    background-color: #2b83ea;
}

/* Container Panel */
.container {
    background-color: #d4d4d4;
    padding: 50px 20px;
    margin-bottom: 20px;
}
.container h1 {
    margin-bottom: 20px;
    font-size: 35px;
}
.container p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
}

/* Footer */
footer {
    clear:both;
    background-color:#1d1d1d;
    padding:20px;
    color:#eee;
}

/* Tabel */
body{
    font-family: sans-serif;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    border: 1px solid rgb(0, 0, 0);
    font-size: 16px;
    padding: 7px 9px;
    border-bottom: 1px solid #ddd;
}
table th {
    background:#1f5faa;
    color:#ffffff;
    font-weight:bold;
    font-size:14px;
}
table tr:nth-child(even) {
    background:#ffffff;
}


/* Tambah Barang */
.input{
    padding: 5px;
}